# byte-compiled / optimized / DLL files


custom_logs\.log

downloads/


*.pc
*.pyc
*.pyo
__pycache__
.idea/
.DS_Store
.env
logs/


app/base/static/driver_screenshots
app/base/static/csv



__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log

# venv
env
venv

# other
.DS_Store

# sphinx docs
_build
_static
_templates

# javascript
package-lock.json